# Remote EVM env vars
REMOTE_TOKEN_HEX=0x5425890298aed601595a70ab815c96711a31bc65 # USDCAVAX on Fuji Testnet by default
REMOTE_EVM_DOMAIN=1 # Avax by default
REMOTE_EVM_ADDRESS= # Insert remote EVM address here
REMOTE_EVM_PRIVATE_KEY= # Insert remote EVM private key here
REMOTE_EVM_RPC_URL= # Insert remote EVM RPC URL here
REMOTE_EVM_TOKEN_MESSENGER_ADDRESS=0x8FE6B999Dc680CcFDD5Bf7EB0974218be2542DAA
REMOTE_EVM_MESSAGE_TRANSMITTER_ADDRESS=0xE737e5cEBEEBa77EFE34D4aa090756590b1CE275

# Message env vars
# DESTINATION_CALLER= # (Optional) Insert destination caller as hex here

# Starknet env vars
NODE_URL=https://starknet-sepolia.public.blastapi.io # starknet testnet node 
ACCOUNT_ADDRESS= # account address
PRIVATE_KEY= # Account Privary Key

# TODO: update to starknet contract address
TOKEN_MESSENGER_MINTER_ADDRESS= # Token Messenger Minter address
MESSAGE_TRANSMITTER_ADDRESS= # Token Transmitter address 
BURN_TOKEN_ADDRESS= # usdc starknet token address
